openapi: 3.0.0
info:
  title: Gameye Session Artifacts Available Location API
  version: 1.2.1
  description: 'The Gameye Session API offers an agnostic way of hosting containerized game sessions without having to worry about geographic capacity or scalability issues.  The API offers a complete suite of features to host a server based multiplayer game.

    # Authentication

    All endpoints of the Gameye Session API require authorization. This is done through Bearer Token Authentication. A bearer token is thus required in the  HTTP header of each request.

    For example: ```Authorization: Bearer <token>```

    '
  x-logo:
    url: https://static.gameye.com/images/android-chrome-512x512.png
    altText: Gameye Logo
servers:
- url: https://api.sandbox-gameye.gameye.net
  description: The main sandbox environment.
- url: https://api.production-gameye.gameye.net
  description: The main production environment.
tags:
- name: Available Location
paths:
  /available-location/{image}:
    parameters:
    - name: image
      in: path
      required: true
      schema:
        type: string
      description: The id of the image
    get:
      operationId: get-available-locations
      summary: Get a list of available locations
      description: 'Retrieve all locations that are currently able to host your image. This includes an IPV4 address that you may send ICMP ping messages to,  to figure out the latency to this location. Please do not cache this list  anywhere as it may change.

        '
      security:
      - api-token:
        - regions:read
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableLocationsOk'
        401:
          description: 'You are not authorized to list available locations. Please make sure that

            the included bearer token is correct.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: 'Your API token may not have the required permissions to invoke this endpoint.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: 'Image not found or you are not authorized to use this image.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Available Location
components:
  schemas:
    FieldViolation:
      type: object
      additionalProperties: false
      required:
      - field
      - description
      properties:
        field:
          type: string
        description:
          type: string
    AvailableLocationsOk:
      type: object
      additionalProperties: false
      required:
      - locations
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/AvailableLocationsEntry'
    AvailableLocationsEntry:
      type: object
      required:
      - id
      - ips
      properties:
        id:
          type: string
        ips:
          type: array
          items:
            type: string
            description: 'The list of IPV4 addresses that can be pinged.

              '
    ErrorResponse:
      type: object
      required:
      - statusCode
      - code
      - message
      - details
      - path
      - identifier
      - timestamp
      properties:
        statusCode:
          type: integer
        code:
          type: string
        message:
          type: string
        details:
          type: string
        path:
          type: string
        timestamp:
          type: string
        identifier:
          type: string
        violations:
          type: array
          items:
            $ref: '#/components/schemas/FieldViolation'
  securitySchemes:
    api-token:
      type: http
      scheme: bearer
      bearerFormat: token
externalDocs:
  url: https://docs.gameye.com
